---
import "../styles/global.css";
---

<header>
    <nav>
        <a href="/">Work</a>
        <a href="/">About</a>
        <a href="/">Resume</a>
        <a href="/">Connect</a>
    </nav>
    <button
        type="button"
        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400"
    >
        <!-- Open menu icon -->
        <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>

        <!-- Close menu icon -->

        <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
        </svg>
    </button>

    <div class="logo"><p>Marcio Morgado</p></div>
    <span class="work-tag"><p>Available for Work</p></span>
</header>
